<h1>Restaurants</h1>

  <div class="card-columns">
    <% @restaurants.each do |restaurant| %>

    <%= link_to restaurant_path(restaurant) do %>

      <div class="card">
        <h3 class="card-header" style="background-color: #c2daff;"><%= restaurant.name %></h3>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= restaurant.category.capitalize %></li>
            <li class="list-group-item"><%= restaurant.address %></li>
            <li class="list-group-item"><%= restaurant.phone_number %></li>
          </ul>
        </div>
      </div>

    <% end %>
    <% end %>
  </div>

<br>

<%= link_to "Add a restaurant", new_restaurant_path,
  class: "btn text-white", style:"background-color: #6ea4f7;" %>
