<h1><%= @restaurant.name %></h1>

<h5><%= @restaurant.address %> | <%= @restaurant.phone_number %> | <%= @restaurant.category.capitalize %></h5>


<table class="table bg-white table-bordered">
  <thead>
    <tr>
      <th scope="col">⭐︎</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurant.reviews.each do |review| %>
      <tr>
        <td><%= review.rating %> stars</td>
        <td><%= review.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'reviews/new', restaurant: @restaurant %>

<br>

<%= link_to "See all restaurants", restaurants_path, class: "btn text-white", style:"background-color: #6ea4f7;" %>
